/* Home */
body{
  overflow: hidden;
}

.headerTitle {
  text-align: center;
  background: linear-gradient(to right, #ffa500, #ff5733);
  padding: 10px;
  font-size: 1.3rem;
}

.tabs {
  background: linear-gradient(to right, #ffa500, #ff5733);
  padding: 1px;
  margin-top: -21px;
}

.subTabsStyles{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgb(211, 209, 206,0.3));


}

/*/////////////////////////splitpan css/////////////////////////////////////// */

.Resizer{
  background: #e88fa171;
  opacity: 0.2;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover{
  transition: all 2s ease;
}

.Resizer.horizental{
  /* height: 11px; */
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizental:hover{
  /* border-top: 1px solid black;
  border-bottom: 1px solid black ; */
}

.Resizer.vertical{
  width: 11px;
  margin: 0 -5px;

  cursor: col-resize;
}

.Resizer.vertical:hover{
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

.Resizer.disabled{
  cursor: not-allowed;
}

.Resizer.disabled:hover{
  border-color: transparent;
}

/*/////////////////////////splitpan css/////////////////////////////////////// */


.rootLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rootLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/loginBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.paperLogin{
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dc143c;
  box-shadow: 0 1px 3px rgba(220, 20, 60, 0.2);
  display: "flex";

}

.paperLogin Button {
  width: 70%; 
  margin-top: 30px;
}

.formLogin{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.requiredLabel::after {
  content: "*";
  color: red;
}

.rootRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paperRegister{
  width: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:50px;
}

.formRegister{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.requiredLabelRegister{
  content: "*";
  color: red;
}

