/* Home */

.headerTitle {
  text-align: center;
  background: linear-gradient(to right, #ffa500, #ff5733);
  padding: 10px;
}

.tabs {
  background: linear-gradient(to right, #ffa500, #ff5733);
  padding: 1px;
  margin-top: -21px;
}

.rootLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rootLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/loginBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.paperLogin{
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dc143c;
  box-shadow: 0 1px 3px rgba(220, 20, 60, 0.2);
  display: "flex";

}

.paperLogin Button {
  width: 70%; 
  margin-top: 30px;
}

.formLogin{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.requiredLabel::after {
  content: "*";
  color: red;
}

.rootRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paperRegister{
  width: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:50px;
}

.formRegister{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.requiredLabelRegister{
  content: "*";
  color: red;
}

